
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
}

<h2>Your Order Has Been Received With Thanks</h2>
<p>@Html.ActionLink("Proceed To Home", "Index", "Home", null, new { @class = "btn btn-primary" })</p>

