@model Pickup_Entity.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin Panel</h2>

<div>
    <h4>Welcome @Model.FirstName @Model.LastName</h4>
    <hr /> 
</div>